/Makefile.*
/aclocal.m4
/autom4te.cache/
/configure
/config.h.*
/config.guess
/config.status
/config.log
/config.guess
/config.h
/config.sub
/config.nice
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~
/build
/configure.in
/mkinstalldirs
/run-tests.php
/modules
tags
*.sw[po]
/Makefile
/acinclude.m4
/.deps
*.rules
/test_run
